{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "babel-eslint",
  "plugins": ["import", "flowtype", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ]
}
